.main {
	padding: 0 20rpx 20rpx 20rpx;
	/* banner */
	.banner {
		height: 320rpx;
		border-radius: 10rpx;
		overflow: hidden;
		.screen-swiper {
			height: 100%;
			min-height: 100% !important;
			image {
				height: 260rpx;
				border-radius: 10rpx;
			}
		}
		.item {
			background: #f64640;
			border-radius: 24rpx;
			margin-top: 12rpx;
			padding: 20rpx;
			color: #fff;
			.title {
				height: 80rpx;
				line-height: 80rpx;
				display: flex;
				font-size: 32rpx;
				font-weight: 800;
				margin-bottom: 10rpx;
				.logo {
					image {
						width: 80rpx;
						height: 80rpx;
					}
				}
			}
			.text {
				margin-left: 18rpx;
			}
			.apply-row {
				height: 120rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				.apply-bnt {
					color: #e64340;
					background-color: #fff;
					border-radius: 40rpx;
				}

				.sum {
					font-size: 48rpx;
					font-weight: 800;
				}

				.l {
					width: 65%;
				}
				.r {
					width: 35%;
					text-align: right;
				}
			}
			.icon {
				padding-right: 3px;
				position: relative;
				top: 1px
			}
		}
	}
	/** 消息提示 **/
	.uni-noticebar {
		margin-top: 10rpx;
		border-radius: 30rpx;
	}
	/**  热门推荐 **/
	.recommend {
		.title {
			font-size: 32rpx;
			font-weight: 800;
			color: #000000;
			margin-bottom: 20rpx;
		}
		.pictrue{
			display: inline-block;
			image{
				width: 80rpx;
				height: 80rpx;
				border-radius: 10rpx;
			}
		}
	}
}
